
<div class='buttonrow footerbuttons'>
    <p class='boxtext rowbutton footertext'>created by elsie 2025 | </p>
    <a href="https://neocities.org/site/elswhere" target="_blank" class='rowbutton footertext footerlink'>my neocities profile</a>
    <p class='boxtext rowbutton footertext'> | </p>
    <a href="https://github.com/elsieeeyjd/elswhere-neocities" target="_blank" class='rowbutton footertext footerlink'>github</a>
    <p class='boxtext rowbutton footertext'> | </p>
    <a href="/sitemap.html" class='rowbutton footertext footerlink'>sitemap</a>
</div>
