<h2 class='nicetext sidebartext'>Updates</h2>
<div class="scrollbox" tabindex="0">
    <p class='sidebartextDark'>This site has been updated as of April 2026!</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>19. 4. 2026</h3>
    <p class='sidebartextDark boxtextDark'>added a <a href="https://elswhere.neocities.org/sitemap">sitemap</a> and a few minor updates</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>16. 4. 2026</h3>
    <p class='sidebartextDark boxtextDark'>started using eleventy (had to reorganised my pathings a lot so if you find anything broken lmk!), also you may want to resubscribed to the <a href='https://elswhere.neocities.org/blog/feed.xml'>RSS feed</a> if it stopped updating. new <a href='https://elswhere.neocities.org/blog/posts/2026-04-16-on-the-anti-ai-movement'>blog post</a></p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>13. 4. 2026</h3>
    <p class='sidebartextDark boxtextDark'>added a <a href='https://elswhere.neocities.org/blog/feed.xml'>RSS feed</a> for the blog, fix webring widgets dissapearing, right sidebar edit incl poll widget, <a href="https://elswhere.neocities.org/extra/contact/">contact page</a></p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>25. 2. 2026</h3>
    <p class='sidebartextDark boxtextDark'>new blog + updated currents section on <a href="elswhere.neocities.org/about/">About page</a></p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>1. 9. 2025</h3>
    <p class='sidebartextDark boxtextDark'>better navbar graphic + main page graphic! will prolly do the same for the other pages asw. Chatbox in extra page</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>18. 8. 2025</h3>
    <p class='sidebartextDark boxtextDark'>better extra pages, new blog posts, and new comment box! (the css of the comment box was inspired by ribo.zone who used the same comment box engine cuz holy shit the html tags of that widget r crazy.</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>14. 8. 2025</h3>
    <p class='sidebartextDark boxtextDark'>top bar music player (oml i spent way too much time on this if only did wikiplayer just fucking worked)</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>10. 8. 2025</h3>
    <p class='sidebartextDark boxtextDark'>new banner!</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>25. 7. 2025</h3>
    <p class='sidebartextDark boxtextDark'>new blog post, accessibility options</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>9. 7. 2025</h3>
    <p class='sidebartextDark boxtextDark'>movies and youtube media rec pages</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>1. 7. 2025</h3>
    <p class='sidebartextDark boxtextDark'>new blog post, revamped main page menu</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>18. 6. 2025</h3>
    <p class='sidebartextDark boxtextDark'>more widgets, added extra page w new layout, comment section on blog</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>9. 6. 2025 (nice)</h3>
    <p class='sidebartextDark boxtextDark'>added (a shit ton of) buttons!! widget additions/fixes</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>5. 6. 2025</h3>
    <p class='sidebartextDark boxtextDark'>Universalise sidebar contents, added new blinkies & bumper stickers</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>3. 6. 2025</h3>
    <p class='sidebartextDark boxtextDark'>Created blog page + archive</p>
    <h3 class='sidebartextDark nicetext' style='font-size: 18px'>apr - may 2025</h3>
    <p class='sidebartextDark boxtextDark'>Website launch and other design stuff (i just moved everything to vscode lol so i dont have the timeline for what came before)</p>
</div>
<div class='dashedbox' style='border-color: var(--text-light); margin-top: 1rem; align-items: center; justify-content: center; flex-direction: column;'>
    <iframe src="https://elsieeeyjd.github.io/elswhere-neocities/data/visits.html" width="200px" height="45px" style="border:none; display: block; margin: 0 auto;" frameborder="0"></iframe> 
    <!-- FC2 Clap tag starts here -->
    <a href="https://clap.fc2.com/post/elsieee/?url=https%3A%2F%2Felswhere.neocities.org&title=Home" target="_blank" title="Web Clap by FC2"><img src="https://clap.fc2.com/images/button/white/elsieee?url=https%3A%2F%2Felswhere.neocities.org&amp;lang=en" alt="Web Clap by FC2" style="border:none;" /></a>
    <!-- FC2 Clap tag ends here -->
    <p class='sidebartext boxtext' style='font-size: 12px; margin-bottom: 5px;'>click to clap for me!!</p>
</div>
<a href="https://ko-fi.com/elsieee" target="_blank"><img src="{{ nesting }}assets/buttons/tip-jar.png" id="tip-jar"></a>
<h3 class="sidebartext nicetext">blinkies!</h3>
<div class="blinkiestack">
    <img src="{{ nesting }}assets/blinkies//impatientbitch.gif" alt="impatientbitch" class='blinkie'>
    <img src="{{ nesting }}assets/blinkies//rock-n-roll.gif" alt="rock-n-roll" class='blinkie'>
    <img src="{{ nesting }}assets/blinkies//cat-destroy.gif" alt="cat-destroy" class='blinkie'>
    <img src="{{ nesting }}assets/blinkies//forgot-to-save.gif" alt="forgot-to-save" class='blinkie'>
    <img src="{{ nesting }}assets/blinkies//seal-approval.png" alt="seal-approval" class='blinkie'>
</div>
<h3 class = 'sidebartext nicetext'>Enjoy some music while you scroll</h3>
<div class='nicebox'>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2ICY7Wy10jOHTzfJAZTPsg?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>